*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lista-de-roupas{
    width:100%;
    height: 100vh;
    background-color: #5f27cd;
}

.lista-de-roupas h2{
    width:100%;
    font-family: 'Arial Black', Courier, monospace;
    font-size: 28px;
    color: white;
    text-align: center;
    padding-top:40px;
}

.lista-de-roupas .roupas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:60px;
}

.lista-de-roupas .roupas .roupa{
    background-color: white;
    border-radius:12px;
    margin:15px;
    padding: 12px;
    text-align: center;
}

.lista-de-roupas .roupas .roupa p:nth-child(2){
    font-family: 'Arial Black', Courier, monospace;
    font-size: 16px;
    color: #1dd1a1;
    margin-bottom:8px;
}